<div>Welcome!  You are <%= @user.name %> with email <%= @user.email %>.</div>

<% @user.authorizations.each do |authorization| %>
  <div>You can authenticate with <%= authorization.provider %>.</div>
<% end %>

<%= link_to "Log out", "/logout" %>